*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
/secrets.properties
**/node_modules/*
**/.firebaserc
*/npm-debug.log
*~
**/package-lock.json